#counterLabel {
  font-size: 150px;
  text-align: center;
  display: block;
}
button {
  font-size: 30px;
  padding: 20px 40px;
  background-color: hsl(219, 84%, 71%);
  color: white;
  border-radius: 5px;
  margin: 10px;
  cursor: pointer;
  transition: background-color 0.25s;
}
button:hover {
  background-color: hsl(219, 84%, 61%);
}
.buttonContainer {
  display: flex;
  justify-content: center;
}
body {
  background-image: linear-gradient(
    to right,
    rgb(218, 218, 76),
    rgb(228, 141, 155)
  );
}
